// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: solid 1px #CCC;
	padding:5px 0;

}

.status p{
	margin: 4px 0;
}

.status:hover{
	background: #ABE0F7;
}

.status .admin{
	display: none;
}

.status:hover .admin{
	display: inline;	
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}